#Python Loops

#1. Basic "for" Loop:

The for loop in Python is used to iterate over a sequence

(list, tuple, string, dictionary, etc.).

    Syntax: for variable in iterable:
              #code block

In [25]:
fruits = ["apple", "banana", "cherry"]

In [26]:
for fruit in fruits:
    print(fruit)

apple
banana
cherry

#2. range() Function:

range() is often used with for loops to repeat something a specific

number of times.

In [4]:
for i in range(5):       # 0 to 4
    print(i)

for i in range(2, 6):    # 2 to 5
    print(i)

for i in range(10, 0, -2):  # 10 to 2 (step -2)
    print(i)

0
1
2
3
4
2
3
4
5
10
8
6
4
2

#3. Looping Through Different

##Data Types:

In [6]:
#List:

for item in [1, 2, 3]:
    print(item)

1
2
3

In [7]:
#String:

for char in "hello":
    print(char)

h
e
l
l
o

In [8]:
#Tuple:

for item in (10, 20, 30):
    print(item)

10
20
30

In [9]:
#Dictionary (keys and values):

my_dict = {"a": 1, "b": 2}
for key in my_dict:
    print(key, my_dict[key])

for key, value in my_dict.items():
    print(key, value)

a 1
b 2
a 1
b 2

#4. Nested for Loops:

A for loop inside another for loop.

Common Use Cases: 2D arrays, Printing patterns, Combinations

In [10]:
for i in range(3):
    for j in range(2):
        print(f"i={i}, j={j}")

i=0, j=0
i=0, j=1
i=1, j=0
i=1, j=1
i=2, j=0
i=2, j=1

#5. Pattern Printing (Common Interview Use):

In [11]:
# Triangle pattern
for i in range(1, 6):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****

#6. break, continue, else:

break – exit the loop early:

In [14]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

continue – skip the current iteration:

In [15]:
for i in range(5):
    if i == 2:
        continue
    print(i)

0
1
3
4

else with for:

The else block runs only if the loop does not break.

In [16]:
for i in range(5):
    print(i)
else:
    print("Loop finished!")

0
1
2
3
4
Loop finished!

#7. List Comprehensions (Compact loops):

In [17]:
squares = [x*x for x in range(5)]
print(squares)

[0, 1, 4, 9, 16]

With condition:

In [21]:
evens = [x for x in range(10) if x % 2 == 0]
print(evens)

[0, 2, 4, 6, 8]

#8. Looping with enumerate() and zip():

enumerate() – gives index and value

In [22]:
for index, value in enumerate(["a", "b", "c"]):
    print(index, value)

0 a
1 b
2 c

zip() – loop over multiple iterables

In [23]:
names = ["Alice", "Bob"]
scores = [90, 80]

for name, score in zip(names, scores):
    print(f"{name}: {score}")

Alice: 90
Bob: 80

#9. Nested Data Structures:

In [24]:
matrix = [
    [1, 2],
    [3, 4],
    [5, 6]
]

for row in matrix:
    for element in row:
        print(element, end=" ")
    print()

1 2
3 4
5 6

#10. Practice Exercise Ideas:

* Print multiplication table (1–10)
* Print pyramid/star patterns
* Find all prime numbers < 100
* Flatten a 2D list
* Loop through a dictionary of students and grades

#Follow @Code_with_AS for more...